{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Check your answers before submiting
        </h1>

        <h2 class="govuk-heading-m">
            Employee details
        </h2>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                    Full name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['full-name'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['address'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    National Insurance Number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['nin'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Sort Code
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['sortcode'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Account Number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['accno'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Starting Salary
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['salary'] }}
                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
            </div>
        </dl>

        </p>

    </div>

</div>

<p>
    <a href="/createemployee">
      Change answers
    </a>
  </p>

{{ govukButton({
    text: "Confirm and send",
    element: button,
    type: submit
  }) }}

{% endblock %}