
{% extends "menu_template.html" %}

{% block pageTitle %}
  Employee Manager
{% endblock %}

{% block info %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Finance Team Member - Services
      <p>
        As a member of the finance team you can utilise several services. If the service you wishe to use is not available, please ensure you have chosen the correct portal, or notify the GinormousGroundhogs team.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#">Generate Pay Report</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
