
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Employee Manager
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GG Employee Manager
      <p>
        This website lets you manage your employees through several services.
      </p>

      <h2 class="govuk-heading-m">How will you be interacting with the Employee Manager today?</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/hr">HR Team Member</a>
        </li>
        <li>
          <a href="/finance">Finance Team Member</a>
        </li>
        <li>
          <a href="/sales">Sales Team Manager</a>
        </li>
        <li>
          <a href="/talent">Talent Manager</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
