
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Employee Manager
{% endblock %}

{% block content %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Talent Manager - Services
      <p>
        As a talent manager you can utilise several services. If the service you wishe to use is not available, please ensure you have chosen the correct portal, or notify the GinormousGroundhogs team.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#">Create New Project</a>
        </li>
        <li>
          <a href="#">Generate Project Report</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
