
{% extends "menu_template.html" %}

{% block pageTitle %}
  Employee Manager
{% endblock %}

{% block info %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Talent Manager - Services
      <p>
        As a talent manager you can utilise several services. If the service you wishe to use is not available, please ensure you have chosen the correct portal, or notify the GinormousGroundhogs team.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a >Create New Project (under construction)</a>
        </li>
        <li>
          <a >Generate Project Report (under construction)</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
